<div class="ashu">
  <div class="container marketing">
    <br />
    <br />
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          Watches
          <span class="text-muted">Time Keeper.</span>
        </h2>
        <p class="lead">
          A watch is a portable timepiece intended to be carried or worn by a
          person. It is designed to keep a consistent movement despite the
          motions caused by the person's activities. A pocket watch is designed
          for a person to carry in a pocket, often attached to a chain.
        </p>
        <p>
          <a
            class="btn btn-lg btn-primary"
            routerLink="/category/1"
            role="button"
            >Explore
          </a>
        </p>
      </div>
      <div class="col-md-5">
        <svg
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          role="img"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          routerLink="/category/1"
          style="cursor: pointer"
        >
          <image
            href="../../../assets/images/w12.jpeg"
            height="90%"
            width="90%"
          />
        </svg>
      </div>
    </div>

    <hr class="featurette-divider" />
    <br />
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">
          Sunglasses
          <span class="text-muted">See for yourself.</span>
        </h2>
        <p class="lead">
          Sunglasses or sun glasses informally called shades or sunnies; more
          names below are a form of protective eyewear designed primarily to
          prevent bright sunlight and high-energy visible light from damaging or
          discomforting the eyes.
        </p>
        <p>
          <a
            class="btn btn-lg btn-primary"
            routerLink="/category/2"
            role="button"
          >
            Explore
          </a>
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          role="img"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          routerLink="/category/2"
          style="cursor: pointer"
        >
          <image
            href="../../../assets/images/s12.jpeg"
            height="90%"
            width="90%"
          />
        </svg>
      </div>
    </div>

    <hr class="featurette-divider" />
    <br />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          Shoes
          <span class="text-muted">Walk with them.</span>
        </h2>
        <p class="lead">
          Sneakers (also called trainers, athletic shoes, tennis shoes, gym
          shoes, kicks, sport shoes, flats, running shoes, or runners) are shoes
          primarily designed for sports or other forms of physical exercise but
          that are now also widely used for everyday casual wear.
        </p>
        <p>
          <a
            class="btn btn-lg btn-primary"
            routerLink="/category/3"
            role="button"
            >Explore
          </a>
        </p>
      </div>
      <div class="col-md-5">
        <svg
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          role="img"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          routerLink="/category/3"
          style="cursor: pointer"
        >
          <image
            href="../../../assets/images/h12.jpeg"
            height="90%"
            width="90%"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
